tornado==5.1.1
numpy
retrying
requests
scikit-image
scipy
torch
torchvision
tensorflow
tensorboardX
matplotlib
ipython
jupyter
pandas
seaborn

fiona
tqdm

scikit-learn==0.20.3
sklearn==0.0
pytest
six
Pillow

ipdb

plotly
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
